:root {
	--white: #ffffff;
	--black: #000000;
	--gray-1: #f8f8f8;
	--akvo-green-primary: #0a4646;
	--akvo-green-secondary: #b5d344;
}
* {
	font-family: "Montserrat", sans-serif !important;
	margin: 0px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	list-style: none;
	text-decoration: none;
	scroll-behavior: smooth;
}

.pages {
	width: 80vw;
	height: 90vh;
	background-color: #000000c4;
	padding: 50px;
	border-radius: 20px;
}

.pageContent {
	max-width: 1000px;
	width: 100%;
	font-size: 30px;
	height: 100%;
}

.carousel-container {
	height: 90% !important;
}

.carousel-inner {
	height: 100% !important;
	overflow-y: auto !important;
}

.backgroundAkvo {
	width: auto;
	height: auto;
	background-image: url(../public/assets/bg5.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	z-index: -1000 !important;
	position: fixed;
	min-width: 100vw;
	min-height: 100vh;
}

.virtualKeyboardContainer {
	position: absolute;
	/* bottom: 0; */
	max-width: 1000px !important;
	margin-top: 10px;
	font-size: 20px;
	z-index: 999;
}

/* espelhar o botão */

.homeButton {
	position: relative !important;
	top: 0 !important;
	left: 0 !important;
	z-index: 999 !important;
	width: 40px !important;
	height: 40px !important;
	color: #ffffff !important;
	opacity: 0.05 !important;
}

.hg-button:active {
	scale: 1.1;
}

.hg-button-enter {
	background-color: #d4e497 !important;
	font-weight: bold;
	max-width: 100px;
}

.hg-button-bksp,
.hg-button-clear {
	transform: scaleX(-1);
	background-color: #f9dfdf !important;
	color: #600101;
	font-weight: bold;
}

.hg-button-clear {
	max-width: 60px;
	font-weight: normal !important;
}

.hg-button-space > span {
	transform: rotate(270deg);
	margin-top: 20px;
}

.hg-button-lock {
	max-width: 50px !important;
	font-weight: bold;
}

.fadeItem {
	animation: fade 2s !important;
}

.homeDataCollectTitle {
	font-size: 80px;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 25px;
}

.homeDataCollectSubtitle {
	font-size: 28px;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 25px;
	text-align: center;
}

.dataTable {
	border-radius: 10px !important;
	overflow: hidden !important;
}

.modal-dialog {
	min-height: 80vh !important;
	display: flex !important;
	flex-direction: column !important;
	justify-content: center !important;
	align-items: center !important;
}

.modal-content {
	min-height: 80vh !important;
}

@keyframes pulsate {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

.pulsate {
	animation: pulsate 2s infinite;
}

@keyframes shake {
	0% {
		transform: translateX(0);
	}
	25% {
		transform: translateX(-5px);
	}
	50% {
		transform: translateX(5px);
	}
	75% {
		transform: translateX(-5px);
	}
	100% {
		transform: translateX(0);
	}
}

.shake-text {
	animation: shake 0.5s ease-in-out;
}

.btn-initial-page {
	width: 600px;
}

select {
	max-height: 100px !important;
}